<% if flash[:register_error] %>
<div class="alert alert-danger" role="alert">
  Vous n'avez pas bien remplis le formulaire
</div>
<%end%>

<div class="container-fluid text-center">

<h2 class="texte-bienvenue mt-5">Crée un compte</h2>
<div class="container-fluid">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field w-25 mx-auto">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"name@exemple.fr" %>
  </div>

  <div class="field w-25 mx-auto">
    <%= f.label "Mot de passe" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field w-25 mx-auto">
    <%= f.label "Confirmer le mot de passe" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Crée mon compte", class: "btn btn-outline-warning btn-lg mt-3" %>
  </div>
<% end %>


</div>
</div>
