<div class="container-fluid text-center">


<h2 class="texte-bienvenue mt-5">Mot de passe oublié ?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field w-25 mx-auto">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Demander réinitialisation par e-mail", class: 'btn btn-outline-warning btn-s mb-3 mt-3' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>